.write-modal-body{
    position:absolute;
    top:50%;            /* 모달 가운데 놓으려고 하는 작업 */


    width:400px;  /* 모달 가로크기 */
    height:600px; /* 모달 세로크기 */

    padding:40px;  

    text-align: center;

    background-color: #f2f2f2;      /* 모달창 색 */
    border-radius:20px;               /* 모달 깎기 */
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15);     /* 모달 그림자 효과 */ 

    transform:translateY(-50%);     /* 모달 열었을 때 페이지 가운데로 설정 */
}

.main-container{
    display : flex;
}