.all {
    width: 1420px;
    height: 770px;
    top: 181px;
    left: 350px;
    border-radius: 20px;
    border: 1.5px solid black;

}


.all label{

    font-size: 25px;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;

}

.prj-name{
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 25px;
    font-weight: 600;

}

.prj-detail-box{
    display: grid;
    grid-template-columns: 580px 1fr;
    width: 100%;
    height: 430px;
}

.prj-detail-box input{

    font-size: 25px;
    font-weight: 400;
    width: 120px;
    height: 30px;
    border: none;
    background-color: #f2f2f2;
}

.memo-content{
    width: 600px;
    height: 300px;
    font-size: 25px;
    font-weight: 400;
}


.re{
    width: 100%;
    height: 250px;
    margin-left: 40px;

}

.margin{
    margin: 40px 30px 40px 20px;

}

.line{
    border-collapse: collapse;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    box-sizing: border-box;
}

.line2{
    border-collapse: collapse;
    border-bottom: 1px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding-left: 60px;
}

.re textarea{
    width: 1300px;
    height: 80px;
    border-radius: 20px;
    padding: 10px;
    resize: none;
}

.btn-area{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 4fr 1fr 0.5fr;
    width: 100%;

}

.btn-area button{
    background-color: black;
    border: none;
    color: #FFFFFF;
    border-radius: 7px;
    height: 30px;
    width: 120px;
    cursor: pointer;
}

#btn2{
    justify-content: end;
    margin-left: 130px;
}

#btn3{
    justify-items: end;
    background-color: #1D64F2;
    border: none;
    color: #FFFFFF;
    border-radius: 7px;
    height: 30px;
    width: 120px;
    cursor: pointer;
}