body{
    background-color: #F2F2F2;
}

.main-container {
    display: flex;
}

.area-container{
    flex-grow: 1;
    padding: 40px; /* 내부 여백 */
    margin: 20px; /* 외부 여백 */
    border-radius: 15px; /* 둥근 모서리 */
}

.input-container h2 {
    margin-bottom: 10px; /* 제목과 입력 필드 간격 */
}

.input-checkbox-container {
    display: flex;
    align-items: center; /* 체크박스와 텍스트 입력 정렬 */
    gap: 20px; /* 입력 필드와 체크박스 사이 간격 */
    flex-wrap: wrap; /* 화면이 좁아질 때 줄 바꿈 */
    box-sizing: border-box;
}

.input-checkbox-container input[type="text"] {
    flex: 1; /* 가능한 공간을 채움 */
    width: 70%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* 크기 계산 */
    margin:  0;
}

.input-checkbox-container label {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* 스마트 에디터 텍스트 영역 */
textarea#smarteditor {
    width: 100%; /* 전체 너비 사용 */
    min-height: 300px; /* 최소 높이 */
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 5px; /* 둥근 모서리 */
    padding: 10px; /* 내부 여백 */
    font-size: 16px; /* 글씨 크기 */
    background-color: #fdfdfd; /* 밝은 배경 */
    resize: none; /* 크기 조절 금지 */
}

/* 버튼 영역 */
.area-container input[type="submit"] {
    display: inline-block;
    padding: 10px 20px; /* 버튼 내부 여백 */
    font-size: 16px; /* 글씨 크기 */
    color: #fff; /* 텍스트 색상 */
    background-color: #1D64F2; /* 파란색 배경 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 둥근 모서리 */
    cursor: pointer; /* 마우스 커서 변경 */
    margin-top: 20px; /* 위 간격 */
}

.area-container button{
    display: inline-block;
    padding: 10px 20px; /* 버튼 내부 여백 */
    font-size: 16px; /* 글씨 크기 */
    color: #fff; /* 텍스트 색상 */
    background-color: black; /* 파란색 배경 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 둥근 모서리 */
    cursor: pointer; /* 마우스 커서 변경 */
    margin-top: 20px; /* 위 간격 */
}

/* 체크박스(긴급) 스타일 */
.area-container label {
    display: flex;
    align-items: center; /* 텍스트와 체크박스 정렬 */
    margin-top: 10px;
    font-size: 20px;
    color: red;
}

.area-container label input[type="checkbox"] {
    margin-right: 10px; /* 체크박스와 텍스트 사이 여백 */
    accent-color: red; /* 체크박스 색상 변경 */
    width: 18px; /* 크기 조정 */
    height: 18px; /* 크기 조정 */
    margin: 10px; /* 기본 여백 제거 */
}

.bottom-button-area{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.attach-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

input[type="file"] {
    display: none; 
}