body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.main-container {
    display: flex;
}

.content-container {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 20px;
    border-radius: 10px;
}

.detail-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title-section h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.title-section p {
    margin: 5px 0 0;
    font-size: 1.2rem;
    color: #666;
}

.info-section p {
    font-size: 0.9rem;
    color: #999;
    margin-top: auto;
}

.content-section h3,
.file-section h3,
.comment-section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #444;
}

.content-section p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    margin-bottom: 20px;
}

.content-section img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.file-section a {
    font-size: 1rem;
    color: #0066cc;
    text-decoration: none;
}

.file-section a:hover {
    text-decoration: underline;
}

.comment-section textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: none;
}

.comment-section button {
    display: block;
    background-color: #0066cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    justify-content: end;
}

.comment-section button:hover {
    background-color: #004d99;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.left-button {
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: auto;
}

.right-buttons button{
    margin-left: 10px;
}


