.main-container {
    display: flex;
}

.area-container{
    flex-grow:  1;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.table-area{
    flex-grow: 1;
    width: 100%;
    justify-content: center;
}

.table-area table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.table-area th, .table-area td {
    padding: 10px; /* 셀 내부 여백 */
    text-align: center; /* 텍스트 정렬 */
    border: 1px solid #ddd; /* 셀 경계선 */
}

.search-area form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-area select,
.search-area input[type="text"]{
    font-size: 16px;
    
}

.page-area a {
    margin: 0 5px;
    text-decoration: none;
}

.area-container .main-bottom-area{
    display: flex;
    justify-content: end;
    position: relative;
}

.main-bottom-area button{
    display: inline-block;
    padding: 10px 20px; /* 버튼 내부 여백 */
    font-size: 16px; /* 글씨 크기 */
    color: #fff; /* 텍스트 색상 */
    background-color: #1D64F2; /* 파란색 배경 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 둥근 모서리 */
    cursor: pointer; /* 마우스 커서 변경 */
    margin-top: 20px; /* 위 간격 */
}

.area-container .page-area{
    display: flex;
    justify-content: center;
}

main .table-area tbody tr:hover{
    background-color: #1D64F2;
    color: white;
    cursor: pointer;
}

.page-area button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}