@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body{
    margin: 0;
    background-color: #f2f2f2;
    color : #121212;
    font-family: "Pretendard-Regular";
    position: relative;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

header{
    display: grid;
    grid-template-columns: 150px 8fr 0.5fr 0.5fr 1fr;
}

header img {
    width: 40px;
    height: 40px;
}

#account-list-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

#message-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 150px;
    height: 150px;
}

.profile-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#userName{
    font-family: "Pretendard-Bold";
    font-size: 1.1rem;
}

#profile img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 50px;
    width: 250px;
    font-family: "Pretendard-SemiBold";
    font-size: 1.2rem;
}

.icon{
    display: flex;
    align-items: center;
}


.icon img {
    width: 60px;
    height: 60px;
}

.icon:hover{
    color: #f2f2f2;
}

.icon img:hover{
    filter: invert(100%) sepia(3%) saturate(611%) hue-rotate(308deg) brightness(115%) contrast(90%);
}

.bluediv{
    position: absolute;
    background-color: #1D64F2;
    width: 250px;
    height: 60px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.list{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
    width: 250px;
    height: 1px;
    font-size: 0.9rem;
    font-family: "Pretendard-Medium";
    color: #121212;
}

.list ul li:hover{
    font-size: 1.0rem;
    font-family: "Pretendard-SemiBold";
    color: #1D64F2;
}