/* 메인 컨테이너: 사이드바와 콘텐츠를 가로로 배치 */
.main-container {
    display: flex;
}

/* 사이드바: 고정된 너비 */
main > .sidebar {
    width: 250px; /* 적절히 조정 가능 */
    /* background-color: #f4f4f4; */
}

/* 콘텐츠 Wrapper: 나머지 화면 차지 */
.content-wrapper {
    display: flex;
    flex-direction: row; /* 공지사항과 게시판 세로 배치 */
    flex-grow: 1; /* 사이드바 제외 나머지 공간 사용 */
    padding: 20px;
    gap: 20px;
}