<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.semi.gam.phoneReservation.mapper.PhoneReservationMapper">
<!--    <update id="edit">-->
<!--        UPDATE PHONE_RESERVATION-->
<!--        SET-->
<!--        MODIFY_DATE = SYSDATE-->
<!--        <if test="cpCode != ''">-->
<!--            , CP_CODE = #{cpCode}-->
<!--        </if>-->
<!--        <if test="rdate != ''">-->
<!--            , RDATE = #{rdate}-->
<!--        </if>-->
<!--        <if test="rtime != ''">-->
<!--            , RTIME = #{rtime}-->
<!--        </if>-->
<!--        <if test="phone != ''">-->
<!--            , PHONE = #{phone}-->
<!--        </if>-->
<!--        <if test="title != ''">-->
<!--            , TITLE = #{title}-->
<!--        </if>-->
<!--        <if test="content != ''">-->
<!--            , CONTENT = #{content}-->
<!--        </if>-->
<!--        WHERE WRITER_NO = #{writerNo}-->
<!--        AND NO = #{no}-->
<!--        AND DEL_YN = 'N'-->
<!--    </update>-->

    <select id="getReservationCnt">
        SELECT COUNT(P.NO)
        FROM PHONE_RESERVATION P
        JOIN MEMBER M ON (P.WRITER_NO = M.ID)
        WHERE P.DEL_YN = 'N'
        <if test="searchType == 'title'">
            AND TITLE LIKE '%${searchValue}%'
        </if>
        <if test="searchType == 'writerName'">
            AND M.NAME LIKE '%${searchValue}%'
        </if>
    </select>

    <select id="getReservationVoList">
        SELECT
        P.NO
        , P.WRITER_NO
        , M.NAME AS WRITER_NAME
        , P.CP_CODE
        , P.RDATE
        , P.RTIME
        , P.PHONE
        , P.TITLE
        , P.CONTENT
        , P.ENROLL_DATE
        , P.MODIFY_DATE
        , P.DEL_YN
        FROM PHONE_RESERVATION P
        JOIN MEMBER M ON (P.WRITER_NO = M.ID)
        WHERE P.DEL_YN = 'N'
        <if test="searchType == 'title'">
            AND TITLE LIKE '%${searchValue}%'
        </if>
        <if test="searchType == 'writerName'">
            AND M.NAME LIKE '%${searchValue}%'
        </if>
        ORDER BY P.NO DESC
        OFFSET #{pvo.offset} ROWS FETCH NEXT #{pvo.boardLimit} ROWS ONLY
    </select>
</mapper>