<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.semi.gam.store.mapper.StoreMapper">

    <select id="getStoreVoList">
        SELECT NO,NAME,CEO,PHONE,STATUS,OPEN_DATE,START_DATE,END_DATE,MANAGER_NO,BRN,ADDRESS,CEO_PHONE
        FROM STORE
        WHERE DEL_YN = 'N'
        <if test="searchType == 'name'">
            AND NAME LIKE '%${searchValue}%'
        </if>
        <if test="searchType == 'ceo'">
            AND CEO LIKE '%${searchValue}%'
        </if>
        ORDER BY NO DESC
        OFFSET #{pvo.offset} ROWS FETCH NEXT #{pvo.boardLimit} ROWS ONLY
    </select>

    <select id="getStoreCnt">
        SELECT COUNT(*)
        FROM STORE
        WHERE DEL_YN='N'
        <if test="searchType == 'name'">
            AND NAME LIKE '%${searchValue}%'
        </if>
        <if test="searchType == 'ceo'">
            AND CEO LIKE '%${searchValue}%'
        </if>
    </select>
</mapper>