@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
    background-color: #F2F2F2;
    font-family: "Pretendard-Regular";
    margin: 0;
    padding: 0;
}

/* 메인 컨테이너 */
.main-container {
    display: grid;
    grid-template-columns: 300px 1fr; /* 사이드바와 콘텐츠 영역 비율 */
    gap: 20px;
    margin-right: 20px;
}

/* 콘텐츠 컨테이너 */
.form-contain {
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    background-color: #F2F2F2;
    padding: 80px;
}

/* 내용 정렬 */
.content-wrapper {
    display: flex;
    gap: 30px; /* 그룹 간 여백 */
}

/* 프로필 및 텍스트 */
.group-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #D2D2D2;
}

/* 테이블 스타일 */
.group-two {
    flex: 1;
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px; /* 위아래 간격 */
}

.table-area {
    border-collapse: collapse;
    width: 100%;
    margin-left: 50px;
}

.table-area th {
    text-align: left;
    background-color: #1D64F2;
    color: white;
    padding: 10px 15px; /* 안쪽 여백 추가 */
    width: 100px; /* th 너비 조정 */
}

.table-area td {
    padding: 10px 15px; /* 안쪽 여백 추가 */
    width: 320px;
}

#list{
    background-color: #121212;
    border: none;
    color: #F2F2F2;
    border-radius: 7px;
    height: 30px;
    width: 120px;
    cursor: pointer;
    margin-top: 120px;

}

#delete{
    background-color: #121212;
    border: none;
    color: #F2F2F2;
    border-radius: 7px;
    height: 30px;
    width: 120px;
    cursor: pointer;
    margin-top: 120px;
  }
  
#edit{
    background-color: #1D64F2;
    border: none;
    color: #F2F2F2;
    border-radius: 7px;
    height: 30px;
    width: 120px;
    margin-left: 15px;
    cursor: pointer;
    margin-top: 120px;

}
.btn-area{
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1.5fr;
}

#edit-delete-btn{
    display: flex;
    justify-content: flex-end;
}


/* 테이블 간격 추가 */
.table-area th,
.table-area td {
    margin-bottom: 10px;
}

/* 테이블 상하 간격 */
.group-up {
    margin-bottom: 20px; /* 위 테이블과 아래 테이블 사이 간격 추가 */
}

.group-under {
    margin-top: 20px; /* 위 테이블과 아래 테이블 사이 간격 */
}
/* 사이드바: 고정된 너비 */
main > .sidebar {
    width: 250px; /* 적절히 조정 가능 */
    /* background-color: #f4f4f4; */
}
