body{
  background-color: #F2F2F2;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
/* 메인 컨테이너: 사이드바와 콘텐츠를 가로로 배치 */
.main-container {
  display: flex;
}

/* 사이드바: 고정된 너비 */
main > .sidebar {
  width: 250px; /* 적절히 조정 가능 */
  /* background-color: #f4f4f4; */
}

.content-wrapper {
  display: grid;
  flex-direction: row; /* 공지사항과 게시판 세로 배치 */
  flex-grow: 1; /* 사이드바 제외 나머지 공간 사용 */
  padding: 20px;
  gap: 20px;
  grid-template-columns: 2fr 6fr 2fr;
  padding-top: 0px;
  padding-bottom: 0px;
}

.insert-form{
  display: grid;
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-columns: 1fr 1fr;
}

.insert-form div{
  height: 85px;
}

.insert-form div input{
  margin-top: 5px;
}

input{
  border: none;
  background-color: white;
  width: 300px;
  height: 40px;
  border-radius: 5px;
}

#cancel{
  background-color: black;
  border: none;
  color: white;
  border-radius: 7px;
  height: 30px;
  width: 120px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 50px;
}

#enroll{
  background-color: #1D64F2;
  border: none;
  color: white;
  border-radius: 7px;
  height: 30px;
  width: 120px;
  cursor:pointer;
  margin-top: 20px;
}

#search-address{
  width: 80px;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
}

#file{
  background-color: initial;
  margin-top: 20px;
}

input[type=file]::file-selector-button{
  background-color: #BFF205;
  border: none;
  border-radius: 7px;
  height: 30px;
  width: 120px;
  cursor:pointer;
}

#sample4_roadAddress{
  width: 450px;
  margin-bottom: 10px;
}

#btn-area input{
  margin-top: 50px;
  font-family: "Pretendard-Bold"
}

select[name=status]{
  border: none;
  background-color: white;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  margin-top: 5px;
}

#bu-label{
  font-family: "Pretendard-Bold"
}

input{
  font-family: "Pretendard-Regular"
}